@media(max-width:1280px){
    .cabecalho .titulo{
        font-size: 40px;
    }

    .selecao-de-personagens .lista-de-personagens{
        max-width: 330px;
    }

    .selecao-de-personagens .lista-de-personagens .personagem{
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 767px){
    body::before{
        background: url(../image/bg-mobile.jpg) no-repeat center / cover;
        opacity: 1;
    }

    main{
        padding: 0 5px;
        justify-content: start;
    }

    .cabecalho .titulo{
        font-size: 22px;
    }

    .personagem-jogador-2{
        display: none;
    }

    .selecao-de-personagens .personagem-grande{
        position: absolute;
        width: 50%;
        bottom: 15px;
        height: 50vh;
    }

    .selecao-de-personagens .personagem-grande img{  
    width: auto;
    height: 40vh;  
    }

    .selecao-de-personagens .personagem-grande .nome::before{
        height: 15px;
        bottom: -2px;
    }

    .selecao-de-personagens .personagem-grande .nome h2{
        font-size: 27px;
    }

    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 360){
    .cabecalho .titulo{
        font-size: 19px;
    }  
}